* {
	box-sizing: border-box;
}
body {
	margin: 0 5% 0 5%;
}
.row {
	width: 100%;
}
h1.menu {
	text-align: center;
	font-family: Verdana, Georgia, Serif;
}
/**** Browser Version ****/
@media (min-width: 992px)  {
	#div1 {
		width: 32%;	
		margin-right: 2%;
		float:left;
	}
	#div2 {
		width: 32%;
		margin-right: 2%;
		float:left;
	}
	#div3 {
		width: 32%;
		float:left;
	}
}
/**** Tablet Version ****/
@media (min-width: 768px) and (max-width: 991px) {
	#div1 {
		width: 48%;
		float: left;
		margin-right: 2%;
	}
	#div2 {
		width: 48%;
		float: left;
		margin-left: 2%;
		margin-bottom: 4%;
	}
	#div3 {
		clear: left;
		width: 100%;
	}
}
/**** Mobile Version ****/
@media (max-width: 767px) {
	#div1 {
		width: 100%;
		margin-bottom: 4%;
	}
	#div2 {
		width: 100%;
		margin-bottom: 4%;
	}
	#div3 {
		width: 100%;
		margin-bottom: 4%;
	}
} 
#div1 {
	border: 1px solid;
	background-color: #bf00ff;
	position: relative;
}
#div2 {
	border: 1px solid;
	background-color: #bf00ff;
	position: relative;	
}
#div3 {
	border: 1px solid;
	background-color: #bf00ff;
	position: relative;
	
}
div.h4 {
	position: relative;
	top: 0;
 	left: 70%;
 	border: 1px solid;
 	background-color: #ecb3ff;
 	width: 30%;
 	padding: 0;
}
h4 {
	font-family: Verdana, Georgia, Serif;
	text-align: center;
	margin: 3%;
	color: #ffffff;
}
p {
	margin-top: 1%;
	padding: 10px;
	color: #ffffff;
	font-family: Verdana, Georgia, Serif;
	font-size: 15px;
}



