#header-nav {
	background-color: #bf00ff;
	border-radius: 0;
	border-width: 2px;
	border-color: #000000;
}

div.container-fluid {
	height: 100px;
}

h1 {
	color:#000000;
	font-family: Verdana, Georgia, Serif;
}

p.text-center {
	font-size: 40px;
	color: #000000;
}

li {
	background-color: #ecb3ff;
	text-align: center;
	border: 2px solid black;
	margin-top:2px;
	margin-bottom:2px;
}
	
#maindiv {
	border: 2px solid black;
	background-color: #bf00ff;
	padding: 1% 3% 0 3%;
	width: 96%;
	margin: 2% 2% 0 2%;
	
}

h1 {
	padding-top: 8%;
	margin: 0;
	color: #ffffff;
	font-family: Verdana, Georgia, Serif;
} 

h2 {
	font-size: 40px;
	margin-bottom: 3%;
	color: #ffffff;
	font-family: Verdana, Georgia, Serif;
}

p {	
	color: #ffffff;
	font-family: Verdana, Georgia, Serif;
	font-size: 15px;
}
	

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 2px solid #ecb3ff;
}

.navbar-header button.navbar-toggle {
	clear: both;
}

/**** Desktop Version ****/
@media (min-width: 992px)  {	
	.col-md-12 {
	width: 100%;		
	
	}
/**** Tablet Version ****/
@media (min-width: 768px) and (max-width: 991px) { 
	.col-sm-12 {
		width: 100%;
	}

/**** Mobile Version ****/
@media (max-width: 767px) {
	.col-xs-12 {
		width: 100%;
	}

/**
#nav-list {
	margin-top:10pxS;
}

#nav-list a{
	color:#000000;
	text-align: center;
}

#nav-list a:hover{
	background: #E7E7E7;
}
**/